<?xml version="1.0" ?>
<robot name="dvrk_psm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model)/model/psm.urdf.xacro"/>
  
  <link name="PSM3_base"/>
  <xacro:psm_caudier 
    prefix="$(arg prefix)"
    parent_link="PSM3_base"
    xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  
</robot>
