<launch>
  <arg name="arm"/>
  <arg name="alias"/>
  <arg name="camera_frame"/>
  <arg name="model" default="$(find dvrk_model)/model/$(arg arm).urdf.xacro"/>
  <arg name="rate" default="20"/>

  <group ns="$(arg alias)">
      <param name="robot_description" command="rosrun xacro xacro $(arg model) prefix:=$(arg arm)_"/>
      <param name="rate" value="$(arg rate)"/>

      <rosparam param="source_list" subst_value="True">
          [/$(arg arm)/measured_js,
           /$(arg arm)/jaw/measured_js,
           /$(arg arm)/gripper/measured_js]
      </rosparam>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

      <node name="transform_compute" pkg="dvrk_video" type="compute_reference_frame.py" output="screen">
        <param name="arm" value="$(arg arm)"/>
        <param name="subject_frame" value="$(arg camera_frame)"/>
        <param name="target_frame" value="$(arg arm)_base"/>
      </node>
  </group>
</launch>
