<launch>
  <arg name="arm1"/>
  <arg name="arm2"/>
  <arg name="reference"/>
  <arg name="camera"/>

  <include file="$(find dvrk_video)/launch/arm.launch">
    <arg name="arm" value="$(arg arm1)"/>
    <arg name="reference" value="$(arg reference)"/>
    <arg name="camera" value="$(arg camera)"/>
  </include>

  <include file="$(find dvrk_video)/launch/arm.launch">
    <arg name="arm" value="$(arg arm2)"/>
    <arg name="reference" value="$(arg reference)"/>
    <arg name="camera" value="$(arg camera)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz"
     args="-d $(find dvrk_video)/rviz/dual_rviz.rviz"/>

</launch>
