<launch>
  <arg name="arm1"/>
  <arg name="arm2"/>
  <arg name="camera_frame"/>

  <include file="$(find dvrk_video)/launch/arm.launch">
    <arg name="arm" value="$(arg arm1)"/>
    <arg name="camera_frame" value="$(arg camera_frame)"/>
  </include>

  <include file="$(find dvrk_video)/launch/arm.launch">
    <arg name="arm" value="$(arg arm2)"/>
    <arg name="camera_frame" value="$(arg camera_frame)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz"
     args="-d $(find dvrk_video)/rviz/dual_rviz.rviz"/>

</launch>
