<launch>
  <arg name="w"/>
  <arg name="h"/>
  <arg name="size"/>
  <arg name="rig_name"/>
  <arg name="camera_name" default="$(arg rig_name)_camera"/>
  <arg name="pattern" default="chessboard"/>

  <node name="calibrator" pkg="camera_calibration" type="cameracalibrator.py" output="screen"
    args="-s $(arg w)x$(arg h) -q $(arg size) -p $(arg pattern) --approximate=0.05
          image:=/$(arg camera_name)/image_raw camera:=/$(arg camera_name)"/>
</launch>
