<!-- -*- mode: XML -*- -->

<!-- Launch stereo camera pipeline for Decklink SDI capture -->
<launch>

  <!-- Make sure left/right are correct -->
  <arg name="rig_name" default="dVRK"/>
  <arg name="left_cam_device" default="1"/>
  <arg name="right_cam_device" default="0"/>

  <!-- Arbitrary transform as an example, just need to publish to "/$(arg rig_name)_stereo_frame" -->
  <node ns="$(arg rig_name)" name="stereo_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /world /$(arg rig_name)_stereo_frame 10"/>
  
  <!-- left camera driver node -->
  <include ns="$(arg rig_name)/stereo_raw" file="$(find dvrk_video)/launch/gscam_decklink.launch">
    <arg name="camera_name" value="left"/>
    <arg name="camera_params" value="package://dvrk_config/$(arg rig_name)/left_camera_parameters.yaml"/>
    <arg name="device" value="$(arg left_cam_device)"/>
    <arg name="frame_id" value="$(arg rig_name)_stereo_frame"/>
  </include>

  <!-- camera driver node -->
  <include ns="$(arg rig_name)/stereo_raw" file="$(find dvrk_video)/launch/gscam_decklink.launch">
    <arg name="camera_name" value="right"/>
    <arg name="camera_params" value="package://dvrk_config/$(arg rig_name)/right_camera_parameters.yaml"/>
    <arg name="device" value="$(arg right_cam_device)"/>
    <arg name="frame_id" value="$(arg rig_name)_stereo_frame"/>
  </include>

  <node ns="$(arg rig_name)/stereo_raw" name="$(arg rig_name)_stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc">
    <param name="_approximate_sync" value="True"/>
  </node>
  
  <node ns="$(arg rig_name)/stereo_processed" name="$(arg rig_name)_stereo_resize" pkg="dvrk_video" type="dvrk_video">
    <param name="~width" value="1280"/>
    <param name="~height" value="640"/>
    <param name="~camera" value="/$(arg rig_name)/stereo_raw"/>
  </node>
</launch>
